{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaks }}</p>
        <p class="like-stuff">How many people like this?? {{ post.likes }} <br>
          Like it now! <a class="btn btn-default" href="{% url 'post_like' pk=post.pk %}"><span class="glyphicon glyphicon-thumbs-up"></span></a>
        </p>
  </div>
{% endblock %}
